examples/file-anonymization/workflow.json
{
	"name": "Anonymize-File",
	"nodes": [
		{
			"parameters": {
				"resource": "anonymizeFile",
				"fileInput": "={{ $json.data }}",
				"imageLabelsFile": "face",
				"requestOptions": {
					"allowUnauthorizedCerts": true
				}
			},
			"type": "CUSTOM.doccape",
			"typeVersion": 1,
			"position": [
				-240,
				60
			],
			"id": "c45becf7-1bf9-4241-a910-f8f72425b44e",
			"name": "Doccape Anonymization",
			"credentials": {}
		},
		{
			"parameters": {},
			"type": "n8n-nodes-base.wait",
			"typeVersion": 1.1,
			"position": [
				500,
				180
			],
			"id": "a7cf5545-fafb-4a23-bdfb-84ae6443f2fb",
			"name": "Wait_5_Sec",
			"webhookId": "57b7d8c2-1d9b-44a3-aa69-33e51391302c"
		},
		{
			"parameters": {
				"resource": "anonymizeFile",
				"operation": "fileStatus",
				"fileId": "={{ $json.documentId }}",
				"requestOptions": {
					"allowUnauthorizedCerts": true
				}
			},
			"type": "CUSTOM.doccape",
			"typeVersion": 1,
			"position": [
				100,
				60
			],
			"id": "26526ac5-1962-4746-9031-f61641ec0b06",
			"name": "Check Status",
			"credentials": {}
		},
		{
			"parameters": {
				"resource": "anonymizeFile",
				"operation": "fileDownload",
				"fileId": "={{ $json.documentId }}",
				"requestOptions": {
					"allowUnauthorizedCerts": true
				}
			},
			"type": "CUSTOM.doccape",
			"typeVersion": 1,
			"position": [
				800,
				40
			],
			"id": "1c8a947f-bfc6-45e1-86c7-3dfc0296372d",
			"name": "Download",
			"credentials": {}
		},
		{
			"parameters": {
				"content": "## Polling Status\n",
				"height": 440,
				"width": 680
			},
			"type": "n8n-nodes-base.stickyNote",
			"typeVersion": 1,
			"position": [
				0,
				0
			],
			"id": "9ee02962-0224-4680-b59e-c12d7afe2b38",
			"name": "Sticky Note"
		},
		{
			"parameters": {
				"conditions": {
					"options": {
						"caseSensitive": true,
						"leftValue": "",
						"typeValidation": "strict",
						"version": 2
					},
					"conditions": [
						{
							"id": "58023019-2f45-4ae5-b1da-7e17e87cf71c",
							"leftValue": "={{ $json.status }}",
							"rightValue": "COMPLETED",
							"operator": {
								"type": "string",
								"operation": "equals",
								"name": "filter.operator.equals"
							}
						}
					],
					"combinator": "and"
				},
				"options": {}
			},
			"type": "n8n-nodes-base.if",
			"typeVersion": 2.2,
			"position": [
				320,
				60
			],
			"id": "ccfa5e86-547e-417b-ac9d-133645cca76f",
			"name": "If Completed"
		},
		{
			"parameters": {
				"operation": "write",
				"fileName": "=/home/node/{{ $binary.data.fileName }}.{{ $binary.data.fileExtension }}",
				"dataPropertyName": "=data",
				"options": {
					"append": false
				}
			},
			"type": "n8n-nodes-base.readWriteFile",
			"typeVersion": 1,
			"position": [
				1040,
				40
			],
			"id": "9366cf90-489f-4e3e-b59e-390aff7b8096",
			"name": "Read/Write Files from Disk1"
		},
		{
			"parameters": {
				"operation": "binaryToPropery",
				"binaryPropertyName": "File",
				"options": {}
			},
			"type": "n8n-nodes-base.extractFromFile",
			"typeVersion": 1,
			"position": [
				-460,
				60
			],
			"id": "6b37f7a1-0f67-4a44-afa4-4b8d1231b350",
			"name": "Convert to base64"
		},
		{
			"parameters": {
				"formTitle": "File Upload",
				"formFields": {
					"values": [
						{
							"fieldLabel": "File",
							"fieldType": "file",
							"multipleFiles": false,
							"requiredField": true
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.formTrigger",
			"typeVersion": 2.2,
			"position": [
				-680,
				60
			],
			"id": "9dd855c1-08c0-4c6d-9916-ad671ac8f41e",
			"name": "On form submission",
			"webhookId": "c6f2f842-29fb-440b-af63-7cb1f376f68c"
		}
	],
	"pinData": {},
	"connections": {
		"Doccape Anonymization": {
			"main": [
				[
					{
						"node": "Check Status",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Wait_5_Sec": {
			"main": [
				[
					{
						"node": "Check Status",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Check Status": {
			"main": [
				[
					{
						"node": "If Completed",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"If Completed": {
			"main": [
				[
					{
						"node": "Download",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Wait_5_Sec",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Download": {
			"main": [
				[
					{
						"node": "Read/Write Files from Disk1",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Convert to base64": {
			"main": [
				[
					{
						"node": "Doccape Anonymization",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"On form submission": {
			"main": [
				[
					{
						"node": "Convert to base64",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"active": false,
	"settings": {
		"executionOrder": "v1"
	},
	"versionId": "7e5994cf-aca6-4ace-85fb-13bda637bb52",
	"meta": {
		"templateCredsSetupCompleted": true,
		"instanceId": "2bd0699b5760579f27f162a7ec2aff1b03ea365014fedad88704d56556efa2d1"
	},
	"id": "GMvyvQsZX23trJtG",
	"tags": []
}